name: CI

on:
  - push
  - pull_request

jobs:
  python-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version: ["3.9", "3.10"]
    steps:
    - uses: actions/checkout@master
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      uses: ./.github/actions/install-dependencies
      with:
        requirements: test-requirements.txt
        update-pip: true
    - name: Run pytest
      run: pytest
    - name: Archive coverage
      uses: actions/upload-artifact@v3
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.10'
      with:
        name: coverage
        path: |
          coverage.xml

  check-style:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Check style
      uses: py-actions/flake8@v2

  check-code-formatting:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Check code formatting
      uses: psf/black@stable

  code-coverage:
    needs: python-tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Download coverage artifact
      uses: actions/download-artifact@v3
      with:
        name: coverage
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        verbose: true
